# =========
# Environment variables used by Docker Compose files
#
# In the compose files, these variables are constructed into env variables for the application
# To see what variables the application requires, see .env.local.template
# =========

# Can be generated with openssl: openssl rand -hex 32
S3_ACCESS_KEY=
S3_SECRET_KEY=

RMQ_USER=
RMQ_PASSWORD=

SQL_USER=
SQL_PASSWORD=
SQL_DBNAME=

# Inference type to use: cpu, gpu
INFERENCE_TYPE=cpu
# Model type to use for image recognition: onnx (recommended), pytorch 
TROCR_MODEL_TYPE=onnx